<h1>Compared gyms</h1>
 <div class="row">
    <% if(x) { %>
        <% for(var i=0; i<x.length; i++){ %>
         
            <div class="card col-xs-4">
           
                <h4 class="card-title"> Name: <%= x[i].Name %></h4>
                <h4 class="card-title"> Location: <%= x[i].Location %></h4>
                <h4 class="card-title"> Email: <%= x[i].Email %></h4>
                <h4 class="card-title"> Telephone: <%= x[i].Telephone %></h4>
                <h4 class="card-title"> Opening Hours: <%= x[i].openinghours %></h4>
                <h4 class="card-title"> Reviews: <%= x[i].Reviews %></h4>
                <h4 class="card-title"> Ratings: <%= x[i].Ratings %></h4>
            </div>
       
        <% } %>
    <% } else { %>
        <p>something wrong</p>
    <% } %>
            </div>   
<a href="/reserve">Reserve<a> <br>